@font-face {
  font-family: undertale;
  src: url("piano/res/sans-undertale.ttf");
}

@font-face {
  font-family: nunito;
  src: url("animal/res/nunito.ttf");
}

.undertale-font {
  font-family: undertale;
}

.animal-font {
  font-family: nunito;
}

* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  border-radius: none;
  font-family: Verdana, Arial;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  width 100%;
  margin: 0px;
  padding: 20px;
  color: #63a0c9;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 1%;
}

.page:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.page:active {
  transform: scale(0.97);
}

.page {
  overflow: hidden;
  height: 80%;
  margin: 0px;
  padding: 8px;
  margin: 8px;
  background-color: #F6F6F6;
  border-radius: 16px;
  border: 2px solid #F0F0F0;
  border-bottom: 8px solid #F0F0F0;
  box-shadow: 2px 8px 8px #FAFAFA;
  color: #AAAAAA;
}

.page-preview {
  display: flex;
  height: 80%;
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  object-fit: cover;
}

.page-title, .secret-title {
  display: block;
  height: 100%;
  padding-top: 1%;
  text-align: center;
  font-size: 2vw;
  color: #BBBBBB;
}

.secret-title {
  display: none;
}

.page:hover .page-title {
  display: none;
}

.page:hover .secret-title {
  display: block;
}

@media (orientation: portrait) {
  body {
    overflow-y: scroll;
  }

  .menu {
    grid-template-columns: 1fr;
    padding: 4%;
  }

  .page {
    height: 80%;
    border-radius: 32px;
  }

  img, .page-preview {
    border-radius: 24px;
  }

  .page-title, .secret-title {
    font-size: 6vw;
  }

  .banner {
    font-size: 7vw;
  }