@font-face {
  font-family: undertale;
  src: url("piano/res/sans-undertale.ttf");
}

@font-face {
  font-family: nunito;
  src: url("animal/res/nunito.ttf");
}

.undertale-font {
  font-family: undertale;
}

.animal-font {
  font-family: nunito;
}

* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  border-radius: none;
  font-family: Verdana, Arial;
}

a {
  text-decoration: none;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  width: 100%;
  margin: 0px;
  padding: 20px;
  color: #63a0c9;
}

small {
  font-size: 0.3em;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 1%;
}

.page:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.page:active {
  transform: scale(0.97);
}

.page {
  height: auto;
  margin: 0px;
  padding: 0px;
  margin: 8px;
  border-radius: 16px;
  border: 2px solid #F0F0F0;
  border-bottom: 8px solid #F0F0F0;
  box-shadow: 2px 8px 8px #FAFAFA;
  color: #AAAAAA;
}

.page-preview {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  overflow: visible;
}

img {
  height: 80%;
  width: auto;
  overflow: visible;
}

.page-title, .secret-title {
  display: flex;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
  font-size: 1.8vw;
  color: #BBBBBB;
}

.secret-title {
  display: none;
}

.page-titles:hover .page-title {
  display: none;
}

.page-titles:hover .secret-title {
  display: flex;
}

.page-text {
  display: flex;
  padding: 20px;
  padding-bottom: 16px;
  /*text-indent: 1em;*/
  line-height: 1.5;
  color: #777;
  font-size: 1vw;
}

@media (orientation: portrait) {
  body {
    overflow-y: scroll;
  }

  .menu {
    grid-template-columns: 1fr;
    padding: 4%;
  }

  .banner {
    font-size: 8vw;
  }

  .page-title, .secret-title {
    font-size: 28px;
  }

  .page-text {
    font-size: 14px;
  }
}