@font-face {
  font-family: undertale;
  src: url("piano/res/sans-undertale.ttf");
}

* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Verdana, Arial;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin: 20px auto;
  padding: 20px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1%;
}

.page:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.page:active {
  transform: scale(0.97);
}

.page {
  overflow: hidden;
  height: 200px;
  margin: 8px;
  background-color: #F6F6F6;
  border-radius: 16px;
  border: 2px solid #F0F0F0;
  border-bottom: 8px solid #F0F0F0;
  box-shadow: 2px 8px 8px #FAFAFA;
  color: #DDDDDD;
}

.page-preview {
  height: 80%;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.page-title {
  height: 100%;
  padding: 8px;
  text-align: center;
  font-size: 24px;
}