:root{
    --bridge-marker-colour: #52a2ec;
    --active-marker-colour: #ff8181;
    --area-selector-colour: #ff6262;
    --active-path-colour: #ff9d4d;
    --path-marker-colour: #ffc881;
    --hover-marker-colour: #06d343;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #505050;
}

#map-box {
    display: flex;
    width: 70vw;
    height: 100vh;
    box-shadow: -3px 0px 18px #dddddd;
}

#blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2000;
    background-color: #000000;
    opacity: 0.2;
    transition: 500ms opacity;
}

#help-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1999;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#controls-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 100vh;
    min-width: 400px;
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
}

#map-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 400px;
    overflow-y: scroll;
}

#attrib {
    position: absolute;
    bottom: 0px;
    color: #b8b8b8;
    align-self: flex-end;
    padding: 3px 8px;
    background-color: #fff;
    font-size: 12px;
}

a {
    color: #a1a1c0;
}

a:visited {
    color: #74739e;
}

a:active {
    color: #facb75;
}

a.helper:active, a.helper:visited, a.helper {
    color: inherit;
    text-decoration: none;
    border-bottom: dashed #d4d4d4 1px;
    cursor: help;
}

.loading::after {
    content: " ";
    display: inline-flex;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    border: 6px solid #f1f1f1; /* Light grey */
    border-top: 6px solid #99ccee; /* Blue */
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}

.loading {
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 18px;
}

@keyframes spin {
    from { transform: rotate(60deg); }
    to { transform: rotate(420deg); }
}

/* Phone resolution */
@media only screen 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait phone */
@media only screen 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
      body {
          flex-direction: column-reverse;
          overflow-x: hidden;
          overflow-y: scroll;
      }

      #map-controls{
          min-width: 100vw;
          max-height: 70vh;
          height: 50vh;
      }

      #controls-wrapper {
        min-width: 100vw;
        max-height: 70vh;
    }

    #map-box{
        width: 100%;
        min-height: 70vh;
    }

    #attrib {
        font-size: 3.5vw;
    }
}